// Imports
@import './styles/vars';
@import './styles/index';
@import './styles/about-us';
@import './styles/header';
@import './styles/footer';
@import './styles//social-media';
@import './styles/details';
@import './styles/blog';
@import './styles/veranstaltungen';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: $color-dark-red;
}

.container {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
    overflow: hidden;
  }
}

@media (max-width: 478px) {
  .container {
    padding: 0 15px;
  }
}
