<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.min.css">
</head>
<body>
    <footer>
        <div class="footer">
            <div class="footer-icon">
                <a href="#">
                    <img src="../assets/images/myCH_rot.png" alt="Logo" class="footer-icon__logo">
                </a>
            </div>
            <div class="footer-contact">
                <a class="footer-item footer-contact__phone" href="#">041 234 56 78</a>
                <a class="footer-item footer-contact__email"  href="">HALLO@EMAIL.CH</a>
                <a class="footer-item footer-contact__instagram" href=""><img src="" alt=""></a>
                <a class="footer-item footer-contact__facebook" href=""><img src="" alt=""></a>
                <a class="footer-item footer-contact__youtube" href=""><img src="" alt=""></a>
                <a class="footer-item footer-contact__twitter" href=""><img src="" alt=""></a>
            </div>
            <div class="footer-reserved">
                <p>© 2022 #myCH Impressum . WiNK</p>
            </div>
        </div>
        
    </footer>
</body>
</html>
