@import './vars';

.banner {
    
    &__inner {
        background-image: url('../../assets/images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 607px 0 35px 0;
    }
    
    &__title--subtitle {
        text-align: center;
    }

    &__title {
        @include title;
        color: $color-white;
    }

    &__subtitle {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-style: $fs-normal;
        font-size: 18px;

        color: $color-white;
        margin: 0 0 96px 0;
    }

    &__button {
        padding: 0 36px;
    }
    
    &__link {
        color: $color-white;
        background-color: $color-light-red-c3;

        text-decoration: none;
        text-align: center;

        padding: 16px 0;
        border-radius: 25px;

        width: 100%;
        display: block;

        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
    }
}

.about {
    
    &__inner {
        background-color: $color-white;
        padding: 155px 345px 201px 339px;
    }

    &__title {
        @include title;
        max-width: 1014px;
        line-height: 150px;

        .about-has {
            color: $color-light-red-c3;
        }
    }

    &__photo-text {
        max-width: 1045px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 70px;
        position: relative;
    }

    &__photo {
        max-width: 270px;
        height: 270px;
    }

    &__getty {
        position: absolute;
        left: 53px;
        top: 160px;

        background-color: rgba(173, 173, 173, 0.74);
        padding: 5px 100px 5px 20px;
    }

    &__title-getty {
        @include text;
        color: $color-white;
        font-weight: $fw-700;
        font-size: 14px;
    }

    .about-img {
        font-weight: 400;
    }

    &__prg {
        @include text;
        color: $color-white;
        font-size: 14px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        @include text;
        width: 735px;
        margin: 0 0 0 40px;
    }
}