@import './vars';

.banner {
    
    &__inner {
        background-image: url('../../assets/images/banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 607px 0 35px 0;
    }
    
    &__title--subtitle {
        text-align: center;
    }

    &__title {
        @include title;
        color: $color-white;
    }

    &__subtitle {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-style: $fs-normal;
        font-size: 18px;

        color: $color-white;
        margin: 0 0 96px 0;
    }

    &__button {
        padding: 0 36px;
    }
    
    &__link {
        color: $color-white;
        background-color: $color-light-red-c3;

        text-decoration: none;
        text-align: center;

        padding: 16px 0;
        border-radius: 25px;

        width: 100%;
        display: block;

        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
    }
}

.about {
    
    &__inner {
        background-color: $color-white;
        padding: 155px 345px 201px 339px;
    }

    &__title {
        @include title;
        max-width: 1014px;
        line-height: 150px;

        .about-has {
            color: $color-light-red-c3;
        }
    }

    &__photo-text {
        max-width: 1045px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 70px;
        position: relative;
    }

    &__photo {
        max-width: 270px;
        height: 270px;
    }

    .about-img {
        font-weight: 400;
    }

    &__prg {
        @include text;
        color: $color-white;
        font-size: 14px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        @include text;
        width: 735px;
        margin: 0 0 0 40px;
    }
}

.information {

    &__inner {
        background-image: url('../../assets/images/mountine.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 345px 200px 338px;
        position: relative;
    }
    
    &__aktuell {
        border: 1.5px solid;
        border-color: $color-white;
        border-radius: 26px;
        color: $color-white;
        padding: 5px 13px;

        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        text-transform: uppercase;
        width: max-content;
    }

    &__title {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 120px;
        font-style: $fs-normal;

        color: $color-white;
        line-height: 120px;

        padding: 15px 100px 74px 0;
    }

    &__prg-block {
        max-width: 735px;
        margin-left: auto;
    }

    &__prg {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-white;
        line-height: 25px;
        padding: 0 0 26px 0;
    }

    &__lesen {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #c33324;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: calc(50% - 7.9px);
        }

        &::before{
            width: 5px;
            height: 5px;
            background-color: #C33324;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: calc(50% - 2.9px);
        }

        a{
            text-decoration: none;
            color: #C33324;
            margin: 0 0 0 25px;
        }
    }
}

.blogs {

    &__inner {
        background-color: $color-white;
        padding: 200px 35px 195px 35px;
    }

    &__all-bloks {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        max-width: 580px;
        position: relative;

        &:first-child {
            padding: 0 20px 0 0;
        }
    }

    &__block + &__block {
        margin: 0 20px 0 0;
        padding: 0 0 0 20px;
        border-left: $color-light-blue solid 2px;
    }

    &__img {
        max-width: 580px;
        height: 580px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__interview {
        border: $color-light-orange-dd solid 1px;
        border-radius: 26px;
        max-width: max-content;
        text-transform: uppercase;
        padding: 5px 13px;

        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;
        color: $color-light-orange-dd;

        position: absolute;
        top: 20px;
        margin-left: 20px;

        letter-spacing: 0.8px;
    }

    &__title {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 25px;
        font-style: $fs-normal;

        color: $color-dark-red;
        letter-spacing: 0.75px;
        margin-top: 33px;
    }

    &__prg {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-dark-red;
        letter-spacing: 0.75px;
        margin: 10px 0 33px 0;
    }

    &__lesen {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        position: relative;
        position: absolute;
        bottom: 0;

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #c33324;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: calc(50% - 7.9px);
        }

        &::before{
            width: 5px;
            height: 5px;
            background-color: #C33324;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: calc(50% - 2.9px);
        }

        a{
            text-decoration: none;
            color: #C33324;
            margin: 0 0 0 25px;
        }
    }

    &__button {
        margin: 40px 0 0 0;
    }

    &__link {
        color: #fff;
        background-color: #C33324;
        text-decoration: none;
        text-align: center;
        padding: 16px 0;
        border-radius: 25px;
        width: 100%;
        display: block;
        font-family: "Barlow",sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
    }
}

.events {

    &__inner {
        background-color: $color-light-blue;
        padding: 200px 345px;
        position: relative;
    }

    &__white-sircle-one {
        width: 180px;
        height: 180px;
        background-color: $color-white;
        border-radius: 50%;

        position: absolute; 
        top: -110px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }

    &__white-sircle-two {
        width: 180px;
        height: 180px;
        background-color: $color-white;
        border-radius: 50%;

        position: absolute; 
        bottom: -90px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }

    &__last-events {
        border: $color-dark-red 1px solid;
        border-radius: 26px;
        width: max-content;

        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        color: $color-dark-red;
        padding: 5px 18px;
        letter-spacing: 0.8px;
    }

    &__title {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 120px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 120px;
        padding: 8px 0 74px 0;
    }

    &__hello {
        color: $color-light-red-c3;
    }

    &__prg-link {
        max-width: 570px;
        margin-left: auto;
    }

    &__prg {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-dark-red;
        max-width: 580px;
        padding: 0 0 26px 0;
    }

    &__zuder {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #c33324;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: calc(50% - 7.9px);
        }

        &::before{
            width: 5px;
            height: 5px;
            background-color: #C33324;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: calc(50% - 2.9px);
        }

        a{
            text-decoration: none;
            color: #C33324;
            margin: 0 0 0 25px;
        }
    }
}

.photos {

    &__inner {
        background-color: $color-white;
        padding: 200px 0 0 0;
    }

    &__title {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 120px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 120px;
        max-width: 820px;
        margin: 0 260px 75px auto;
    }

    &__first-block {
        display: flex;
    }

    &__second-block {
        display: flex;
        position: relative;
        justify-content: end;
        padding: 0 345px 0 0;
        margin-top: 210px;
    }

    &__third-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 200px;
    }

    &__foutrth-block {
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    &__fifth-block {
        height: 1080px;
        margin-top: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__sixth-block {
        margin-top: 265px;
    }

    &__mych {
        color: $color-light-red-c3;
    }

    &__img-first {
        max-width: 1095px;
        height: 1095px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        max-width: 755px;
        margin: 0 0 0 40px;
    }

    &__title-info {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-dark-red;
    }

    &__prg {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        margin: 19px 0 34px 0;
    }

    &__mehr {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-style: $fs-normal;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #c33324;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: calc(50% - 7.9px);
        }

        &::before{
            width: 5px;
            height: 5px;
            background-color: #C33324;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            top: calc(50% - 2.9px);
        }

        a{
            text-decoration: none;
            color: #C33324;
            margin: 0 0 0 25px;
        }
    }

    &__user-feedback {
        max-width: 735px;
        margin: 0 40px 0 0;
    }

    &__user-text {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 25px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 35px;
        letter-spacing: 0.5px;
        text-align: end;
        max-width: 735px;
    }

    &__name {
        font-family: $ff-barlow;
        font-weight: $fw-500;
        font-size: 18px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        text-align: end;

        margin: 15px 0 160px 0;
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    &__button-left {
        width: 50px;
        height: 50px;
        background-color: $color-light-orange-dd;

        border: 0;
        border-radius: 50%;

        font-weight: $fw-700;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 25px 0 0;
        cursor: pointer;
    }

    &__button-right {
        width: 50px;
        height: 50px;
        background-color: $color-light-orange-dd;

        border: 0;
        border-radius: 50%;

        font-weight: $fw-700;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    &__img-second {
        width: 425px;
        height: 425px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__number {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        line-height: 30px;
        letter-spacing: 0.8px;

        position: absolute;
        left: 15px;
        top: 393px;

        color: $color-white;
    }

    &__img-text-first {
        width: 1080px;
        height: 609px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img-text-second {
        width: 609px;
        height: 1080px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img-text-fourth {
        width: 890px;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text-first {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        margin: 17px 0 0 0;
        text-align: end;
    }

    &__text-second {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        margin: 17px 0 0 0;
        text-align: end;
    }

    &__text-fourth {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        margin: 17px 0 0 0;
        text-align: end;
    }

    &__text-fifth {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 16px;
        font-style: $fs-normal;

        color: $color-dark-red;
        line-height: 25px;
        margin: 17px 35px 0 0;
        text-align: end;
    }

    &__title-sixth {
        font-family: $ff-barlow;
        font-weight: $fw-700;
        font-size: 120px;
        font-style: $fs-normal;

        color: $color-dark-red;
        text-align: center;
    }

    &__social {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    &__social-link {
        background-color: $color-light-orange-dd;
        width: 39px;
        height: 39px;
        padding: 12px 0;
        border-radius: 100px;
        text-align: center;

        img {
            width: auto;
            height: 15px;
        }
    }
    
    &__social-link + &__social-link {
        margin-left: 9px;
    }

    &__block-imgs {
        display: flex;
        justify-content: center;
        margin: 100px 0 0 0;
    }

    &__block-img {
        display: flex;
    }

    &__block-img + &__block-img {
        margin-top: 40px;
    }

    &__img-inner {
        max-width: 425px;
        height: 425px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img-inner +     &__img-inner {
        margin-left: 40px;
    }

    &__second-imgs {
        width: 580px;
        height: 890px;
        margin: 0 0 0 40px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1440.98px) {
    .banner {

        &__title {
            font-size: 100px;
        }
    }

    .about {
        
        &__inner {
            padding: 120px 300px 180px 193px;
        }

        &__title {
            font-size: 100px;
            line-height: 100px;
        }
    }

    .information {

        &__inner {
            padding: 210px 225px 195px 188px;
        }

        &__title {
            font-size: 100px;
            line-height: 100px;
        }

        &__aktuell {
            padding: 2px 10px;
        }
    }

    .blogs {
        
        &__img {
            max-width: 412px;
            height: 412px;
        }
    }

    .events {

        &__inner {
            padding: 200px 225px 200px 188px;
        }

        &__title {
            font-size: 100px;
            line-height: 100px;
        }
    }

    .photos {

        &__second-block {
            padding: 0 115px 0 0;
        }

        &__title {
            font-size: 100px;
            line-height: 100px;
        }

        &__img-first {
            height: 615px;
        }

        &__img-second {
            height: 375px;
        }

        &__name {
            margin: 15px 0 110px 0;
        }

        &__img-text-first {
            width: 907px;
            height: 470px;
        }

        &__img-text-second {
            width: 462px;
            height: 900px;
            margin: 0 0 0 40px; 
        }

        &__fifth-block {
            height: 900px;
        }

        &__img-inner {
            width: 375px;
            height: 375px;
        }

        &__second-imgs {
            height: 790px;
        }

        &__title-sixth {
            font-size: 100px;
            line-height: 100px;
        }
    }
}

@media screen and (max-width: 1000.98px) {
    .banner {

        &__title {
            font-size: 80px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__link {
            font-size: 14px;
            padding: 14px 0;
        }
    }

    .about {
        
        &__inner {
            padding: 80px 135px 80px 135px;
        }

        &__title {
            font-size: 80px;
            line-height: 80px;
        }

        &__text {
            font-size: 16px;
        }
    }

    .information {

        &__inner {
            padding: 100px 31px 75px 135px;
        }

        &__title {
            font-size: 80px;
            line-height: 80px;
        }

        &__aktuell {
            padding: 2px 10px;
        }

        &__prg {
            font-size: 16px;
        }

        &__lesen {
            font-size: 14px;
        }
    }

    .blogs {

        &__inner {
            padding: 100px 20px 100px 20px;
        }

        &__title {
            font-size: 18px;
        }

        &__prg {
            font-size: 16px;
        }

        &__block {

            &:last-child {
                margin: 0;
            }
        }

        &__img {
            max-width: 282px;
            height: 282px;
        }

        &__interview {
            padding: 2px 9px;
            font-size: 12px;
        }

        &__link {
            font-size: 14px;
            padding: 14px
        }
    }

    .events {

        &__inner {
            padding: 130px 31px 130px 135px;
        }

        &__title {
            font-size: 80px;
            line-height: 80px;
        }

        &__last-events {
            padding: 2px 10px;
        }

        &__prg {
            font-size: 16px;
        }

        &__zuder {
            font-size: 14px;
        }

        &__white-sircle-one {
            width: 140px;
            height: 140px;
            top: -80px;
        }

        &__white-sircle-two {
            width: 140px;
            height: 140px;
            bottom: -80px;
        }
    }

    .photos {

        &__inner {
            padding: 100px 0 0 0;
        }

        &__second-block {
            padding: 0 60px 0 0;
        }

        &__user-text {
            font-size: 18px;
            line-height: 25px;
        }

        &__name {
            font-size: 16px;
            margin: 15px 0 160px 0;
        }

        &__title {
            font-size: 100px;
            line-height: 100px;
            margin: 0 0 75px auto;
        }

        &__info {
            max-width: 500px;
        }

        &__img-first {
            height: 430px;
        }

        &__prg {
            font-size: 16px;
        }

        &__mehr {
            font-size: 14px;
        }

        &__img-second {
            height: 318px;
        }

        &__name {
            margin: 15px 0 100px 0;
        }

        &__img-text-first {
            width: 907px;
            height: 341px;
        }

        &__img-text-second {
            width: 462px;
            height: 625px;
            margin: 0 0 0 40px; 
        }

        &__img-text-fourth {
            width: 605px;
            height: 350px;
        }

        &__fifth-block {
            height: 700px;
        }

        &__sixth-block {
            margin-top: 185px;
        }

        &__img-inner {
            width: 270px;
            height: 270px;
        }

        &__second-imgs {
            height: 580px;
        }

        &__social-link {
            width: 28px;
            height: 28px;
            padding: 6px 0;

            img {
                height: 12px;
            }
        }

        &__title-sixth {
            font-size: 80px;
            line-height: 80px;
        }
    }
}

@media screen and (max-width: 768.98px) {
    .banner {

        &__title {
            font-size: 70px;
        }
    }

    .about {

        &__title {
            font-size: 70px;
            line-height: 65px;
        }

        &__inner {
            padding: 45px 30px 45px 47px;
        }

        &__photo {
            height: 195px;
        }

        &__photo-text {
            display: block;
            margin: 30px 0 0;
        }

        &__text {
            margin: 20px 0 0;
            width: auto;
        }

        &__prg {
            font-size: 12px;
        }
    }

    .information {

        &__inner {
            padding: 68px 36px 66px 49px;
        }

        &__title {
            font-size: 70px;
            line-height: 65px;
        }

        &__aktuell {
            padding: 2px 10px;
            font-size: 12px;
        }

        &__prg {
            font-size: 16px;
            width: auto;
        }

        &__lesen {
            font-size: 14px;
        }
    }

    .blogs {

        &__inner {
            padding: 100px 20px 100px 20px;
        }

        &__title {
            font-size: 16px;
        }

        &__prg {
            font-size: 14px;
        }

        &__lesen {
            font-size: 14px;
        }

        &__img {
            max-width: 182px;
            height: 182px;
        }

        &__interview {
            padding: 2px 9px;
            font-size: 12px;
        }
    }

    .events {

        &__inner {
            padding: 68px 36px 66px 49px;
        }

        &__title {
            font-size: 70px;
            line-height: 65px;
        }

        &__last-events {
            padding: 2px 10px;
            font-size: 12px;
        }

        &__prg {
            font-size: 16px;
            width: auto;
        }

        &__white-sircle-one {
            width: 100px;
            height: 100px;
            top: -60px;
        }

        &__white-sircle-two {
            width: 100px;
            height: 100px;
            bottom: -60px;
        }
    }
}

@media screen and (max-width: 634.98px) {
    .blogs {

        &__inner {
            padding: 100px 20px 100px 20px;
        }

        &__all-bloks {
            display: block;
        }

        &__block + &__block {
            margin: 70px 0 0 0;
            padding: 0;
            border-left: 0;
        }

        &__title {
            font-size: 16px;
        }

        &__prg {
            font-size: 14px;
        }

        &__lesen {
            font-size: 14px;
            bottom: -30px;
        }

        &__button {
            margin: 60px 0 0 0;
        }
    }

    .events {

        &__title {
            font-size: 50px;
            line-height: 50px;
            padding: 8px 0 47px 0;
        }
    }
}

@media screen and (max-width: 420.98px) {
    .banner {

        &__inner {
            padding: 255px 0 35px 0;
        }

        &__title {
            font-size: 40px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__button {
            padding: 0 25px;
        }

        &__link {
            padding: 10px 0;
        }
    }

    .about {

        &__title {
            font-size: 40px;
            line-height: 40px;
        }

        &__inner {
            padding: 19px 35px 20px 28px;
        }

        &__photo {
            height: 195px;
        }

        &__prg {
            font-size: 12px;
        }
    }

    .information {

        &__inner {
            padding: 35px;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
            padding: 15px 6px 46px 0;
        }

        &__aktuell {
            padding: 2px 10px;
            font-size: 10px;
        }

        &__prg {
            font-size: 16px;
        }

        &__lesen {
            font-size: 12px;
        }
    }

    .blogs {

        &__link {
            padding: 10px 0;
        }
    }

    .events {

        &__inner {
            padding: 35px;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;
            padding: 15px 6px 46px 0;
        }

        &__last-events {
            padding: 2px 10px;
            font-size: 10px;
        }

        &__white-sircle-one {
            width: 60px;
            height: 60px;
            top: -40px;
        }

        &__white-sircle-two {
            width: 60px;
            height: 60px;
            bottom: -40px;
        }
    }
}