@import './vars';

.drop-down{
    background-color: #fff;
}
table .dataTable{
    width: 100%; 
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    box-sizing: content-box;
    border-spacing: 0;
}

.table{
    width: 100%;
    color: $color-white;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-family: $ff-barlow;
    font-weight: medium;

    thead{
        display: none;
    }
    tbody {
        tr{
        background-color:  $color-light-blue;
        }
        td{
            padding: 44px 50px;
            box-sizing: content-box;
            border-top: 3px solid #fff;
        }
        @media (max-width: 1370px) {
            tr{
                border-top: 3px solid #fff;
                padding: 50px 89px;
                display: inline-block;
            }
            td{
                display:inline-block;
                padding: 17px 0px 6px 57px;
                width: 79%;
                border-top: none;
            }
        }
        @media (max-width: 1241px) {
            tr{
                padding: 50px 32px;
            }
        }
        @media (max-width: 630px) {
            tr{
                padding: 17px 24px;
            }
            td{
                padding: 17px 0px 6px 0px;
                width: 93%;
            }
        }
    }
    &__name{
        letter-spacing: 0.75px;
        color: #59061F;
        font-size: 25px;
        font-weight: bold;
        width: 460px;

    }
    @media (max-width : 1852px){
        &__name{
            width: 420px;
        }
    }
    &__veranstaltung{
        font-size: 16px;
        letter-spacing: 0.8px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid #c33324;
            border-radius: 50%;
            position: absolute;
            left: 1rem;
            top: calc(50% - 7.9px);
        }
        &::before{
            width: 5px;
            height: 5px;
            background-color: #C33324;
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            left: 20.7px;
            top: calc(50% - 2.9px);
        }
        @media (max-width: 1370px) {
            &::after {
                left: 33px;
                top: calc(50% - 1.9px);
            }
            &::before{
                left: 37.7px;
                top: calc(50% - -3.1px);
            }
        }
        @media (max-width: 630px) {
            &::after {
                left: -21px;
                top: calc(50% - 1.9px);
            }
            &::before{
                left: -15.8px;
                top: calc(50% - -3.1px);
            }
        }
        a{
            text-decoration: none;
            color: #C33324;
        }
        
    }
    @media (max-width: 1370px) {
        &__veranstaltung{
            left: 23px;
        }
    }
    
}
@media (max-width: 630px) {
    .table{
        padding: 0 0px 0 0px;
    }
}

.dataTables_filter{
    margin-left: 38.1rem;
    margin-bottom: 41px;

    label{
        display: none;
    }

    select{
        cursor: pointer;
        font-family: $ff-barlow;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: #DD8766;
        text-transform: uppercase;
        border: 2px solid #DD8766;
        position: relative;
    }
    // select::after {
    //     content: '\25BC';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     padding: 1em;
    //     background-color: #34495e;
    //     transition: .25s all ease;
    //     pointer-events: none;
    //   }
    .form-control{
        width: 268px;
        margin: 0 19px;
        border-radius: 26px;
        padding: 5px 0px 6px 14px;
    }
    @media (max-width: 833px) {
        .form-control{
            margin: 0 5px;  
            margin-bottom: 10px;
        }  
    }
    // .form-control::after {
    //     content: '\25BC';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     padding: 1em;
    //     background-color: #34495e;
    //     transition: .25s all ease;
    //     pointer-events: none;
    //   }

    #ortFilter{
        width: 115px;
    }
}
@media (max-width: 1565px) {
    .dataTables_filter{
        margin-left: 0rem;
        text-align: center;
    }
}
